html {
  font: 16px "Montserrat", "sans-serif";
  letter-spacing: 0.1rem;
}

body {
  background-color: #EEFBFF;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #817b7b;
}

body::-webkit-scrollbar-track {
  background-color: #4d4949;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
}

:target {
  display: block;
  position: relative;
  top: -120px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  background-color: transparent;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 9;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

header .header__logo span {
  background: transparent;
  padding: 1em;
  position: relative;
}

header .header__logo span:before {
  content: "";
  width: 50vw;
  border-top: 3px solid #EEFBFF;
  position: absolute;
  left: -50vw;
  top: 1.4rem;
  border-radius: 10px;
}

header .header__logo span:after {
  content: "";
  width: 50vw;
  border-top: 3px solid #EEFBFF;
  position: absolute;
  top: 1.4rem;
  right: -50vw;
  border-radius: 10px;
}

header .header__logo a {
  text-decoration: none;
  color: #EEFBFF;
  text-transform: uppercase;
  font-size: 1.5rem;
}

header .header__nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header__nav__ul li {
  padding: 1rem 1rem 0 1rem;
  position: relative;
}

header .header__nav__ul li a {
  color: #EEFBFF;
  border-bottom: 3px solid transparent;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

header .header__nav__ul li a:hover {
  color: white;
  border-bottom: 3px solid #EEFBFF;
}

.nav-scrolled {
  background-color: #EEFBFF;
  border-bottom: 1px solid #4d4949;
}

.nav-scrolled .header__logo a {
  color: black;
}

.nav-scrolled .header__logo .logo-deco:before, .nav-scrolled .header__logo .logo-deco:after {
  border-top: 3px solid #db3e1f;
}

.nav-scrolled .header__nav__ul li a {
  color: #4d4949;
}

.nav-scrolled .header__nav__ul li a:hover {
  color: black;
  border-bottom: 3px solid #db3e1f;
}

main {
  position: relative;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h3 {
  color: #4d4949;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1.5rem;
}

main .content {
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  text-align: center;
}

.hero__container {
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(158, 66, 47, 0.75)), to(rgba(0, 92, 179, 0.75))), url(/assets/images/bg.jpg);
  background-image: linear-gradient(to top left, rgba(158, 66, 47, 0.75), rgba(0, 92, 179, 0.75)), url(/assets/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 1.5rem;
  position: relative;
  width: 100%;
}

.hero__container h2 {
  color: #EEFBFF;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.hero__container p {
  text-align: center;
  color: #EEFBFF;
  line-height: 2rem;
  font-size: 1.3rem;
}

.hero__container .see-more {
  position: absolute;
  bottom: 1rem;
  right: 3rem;
  color: #EEFBFF;
  text-decoration: none;
}

.hero__container .btn__deco {
  width: 4px;
  height: 3rem;
  background-color: #EEFBFF;
  position: absolute;
  bottom: 0;
  right: 2rem;
  border-radius: 10px;
}

.hero__container .ul-contact {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.5rem;
}

.hero__container li {
  padding: 0 1rem;
}

.hero__container i {
  color: #EEFBFF;
  font-size: 2.5rem;
  -webkit-transition: color 100ms ease-in;
  transition: color 100ms ease-in;
}

.hero__container i:hover {
  color: #e56248;
}

.main__portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main__portfolio .project__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: -webkit-fit-content;
  grid-auto-rows: fit-content;
  margin-top: 24px;
}

.main__portfolio .project__container .project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (minmax(fit-content, 200px))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(-webkit-fit-content, 200px));
      grid-template-rows: repeat(auto-fit, minmax(fit-content, 200px));
  overflow: hidden;
  border: 1px solid #4d4949;
  -webkit-transition: margin 100ms ease-in-out;
  transition: margin 100ms ease-in-out;
  cursor: pointer;
}

.main__portfolio .project__container .project .img-container {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
}

.main__portfolio .project__container .project .img-container:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0.7rem solid #EEFBFF;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.main__portfolio .project__container .project .img-container:hover:before {
  border: 0rem solid #EEFBFF;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.main__portfolio .project__container .project .project-info {
  background-color: #EEFBFF;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/3/3;
  position: relative;
  z-index: 5;
  padding: 1rem;
}

.main__portfolio .project__container .project .project-info h4 {
  font-size: 0.6rem;
  text-transform: uppercase;
}

.main__portfolio .project__container .project .project-info .project-description {
  margin: 1rem 0;
  font-size: 0.6rem;
}

.main__portfolio .project__container .project .project-info .read-more {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #e56248;
  font-weight: bold;
}

.main__portfolio .project__container .project .project-info .read-more:hover {
  background-color: #db3e1f;
  cursor: pointer;
}

/* Modals */
.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 40, 77, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
  visibility: hidden;
}

.modal .modal-close-btn {
  background-color: #EEFBFF;
  border: 1px solid #4d4949;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 20;
  cursor: pointer;
}

.modal .close-icon {
  width: 100%;
  height: 100%;
}

.modal .close-icon:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 1.5px);
  left: calc(50% - 10px);
  height: 3px;
  width: 20px;
  background-color: #4d4949;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.modal .close-icon:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 1.5px);
  left: calc(50% - 10px);
  height: 3px;
  width: 20px;
  background-color: #4d4949;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.modal .close-icon:hover:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.modal .close-icon:hover:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.modal .project-info-modal {
  background-color: #EEFBFF;
  height: 95%;
  width: 90%;
  margin: 1rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.modal .project-info-modal::-webkit-scrollbar {
  width: 1em;
}

.modal .project-info-modal::-webkit-scrollbar-thumb {
  background-color: #817b7b;
}

.modal .project-info-modal::-webkit-scrollbar-track {
  background-color: #4d4949;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
}

.modal .project-info-modal .project-info-wrapper {
  padding: 1rem;
}

.modal .project-info-modal h4 {
  font-size: 1.5rem;
}

.modal .project-info-modal h3 {
  color: black;
  font-size: 1rem;
  text-transform: initial;
}

.modal .project-info-modal .source-ul {
  padding-top: 1rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.modal .project-info-modal .source-ul li {
  padding: 0 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
}

.modal .project-info-modal .source-ul button {
  border: none;
  padding: 0.5rem 1rem;
  width: 100px;
  min-height: 75px;
  width: 100%;
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.modal .project-info-modal .source-ul button.active {
  background: #e56248;
  cursor: pointer;
}

.modal .project-info-modal .source-ul button.active:hover {
  background-color: #db3e1f;
}

.modal .project-info-modal .source-ul a {
  text-decoration: none;
  color: black;
  width: 100%;
}

.modal .project-info-modal .source-ul button.inactive {
  background: #817b7b;
}

.modal .image-gallery {
  width: 100%;
  height: 300px;
  background-image: url(/assets/projects/project-1/PBO-BG3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.modal .image-gallery .previous-btn, .modal .image-gallery .next-btn {
  position: absolute;
  height: 100%;
  width: 25px;
  border: none;
  font-size: 1rem;
  padding: none;
  background: none;
  color: #db3e1f;
  cursor: pointer;
}

.modal .image-gallery .previous-btn {
  left: 0;
}

.modal .image-gallery .next-btn {
  right: 0;
}

/* Projects */
.project-1 .img-container {
  background-image: url(/assets/projects/project-1/PBO-BG3.jpg);
}

.project-2 .img-container {
  background-image: url("http://placekitten.com/g/700/400");
}

footer {
  text-align: center;
  color: #EEFBFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
}

footer .ul-contact {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4d4949;
}

footer li {
  padding: 0 1rem;
}

footer i {
  color: #EEFBFF;
  font-size: 2.5rem;
  -webkit-transition: color 100ms ease-in;
  transition: color 100ms ease-in;
}

footer i:hover {
  color: #e56248;
}

footer small {
  font-size: 0.75rem;
  background-color: #191717;
  padding: 1rem;
}

/* Media Queries */
@media screen and (min-width: 343px) {
  :target {
    top: -83px;
  }
}

@media screen and (min-width: 500px) {
  .main__portfolio .project__container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .main__portfolio .project__container .project {
    -ms-grid-rows: (175px)[2];
        grid-template-rows: repeat(2, 175px);
    border: none;
  }
  .main__portfolio .project__container .project .img-container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/3/3;
  }
  .main__portfolio .project__container .project .project-info {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
}
/*# sourceMappingURL=style.css.map */