@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

$base-font-size: 16px;

$border-circle: 50%;
$border-rounded: 20px;

$base-color: #610000;
$secondary-color: #dd410a;
$accent-color: #ffaf72;
$accent-color-2: #fff6ec;

$background-font: "Oswald", sans-serif;
$background-font-size: 3rem;

$size-sun-base: 30vw;
$size-outer-ring: calc(#{$size-sun-base}* 3);
$size-middle-ring-1: calc(#{$size-sun-base}* 2.7);
$size-middle-ring-2: calc(#{$size-sun-base}* 2.4);
$size-middle-ring-3: calc(#{$size-sun-base}* 2.1);
$size-inner-ring: calc(#{$size-sun-base}* 1.8);
$rotation-base: 100s;

/*Utils */

@mixin absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Content and Body Styles */

body {
    height: 100vh;
    background: black url("../assets/images/bg.jpg") center/cover no-repeat;
    overflow: hidden;
    font-family: sans-serif;
    font-size: $base-font-size;
}

.header,
.footer {
    background-color: white;
}

/* SVG Styles */

@mixin orbits {
    fill: none;
    stroke: $secondary-color;
    stroke-width: 3;
    stroke-dasharray: 3;
}

.solar-system {
    &__overlay {
        @include absolute;

        // margin: auto;
        // height: calc(100vh - 10rem);
        // width: calc(100vw - 6rem);
        &__text {
            font-family: $background-font;
            font-size: $background-font-size;
            text-transform: uppercase;
            stroke-opacity: 0.5;
            fill: none;
            stroke-width: 3px;
            stroke-linejoin: round;
            font-weight: 900;
            letter-spacing: 2;
        }
    }

    &__orbits {
        @include absolute;
        height: 100%;
        width: 100%;
    }

    &__outer-ring,
    &__middle-ring-1,
    &__middle-ring-2,
    &__middle-ring-3,
    &__inner-ring {
        @include absolute;
        @include orbits;
    }

    &__outer-ring {
        top: calc(50% - #{$size-outer-ring} * 0.5);
        left: calc(#{$size-outer-ring} * -0.25);
        height: $size-outer-ring;
        width: $size-outer-ring;
        animation-duration: calc(#{$rotation-base * 5.5});
    }
    &__middle-ring-1 {
        top: calc(50% - #{$size-middle-ring-1} * 0.5);
        left: calc(#{$size-middle-ring-1} * -0.25);
        height: $size-middle-ring-1;
        width: $size-middle-ring-1;
        animation-duration: calc(#{$rotation-base * 3});
    }
    &__middle-ring-2 {
        top: calc(50% - #{$size-middle-ring-2} * 0.5);
        left: calc(#{$size-middle-ring-2} * -0.25);
        height: $size-middle-ring-2;
        width: $size-middle-ring-2;
        animation-duration: calc(#{$rotation-base * 1.5});
    }
    &__middle-ring-3 {
        top: calc(50% - #{$size-middle-ring-3} * 0.5);
        left: calc(#{$size-middle-ring-3} * -0.25);
        height: $size-middle-ring-3;
        width: $size-middle-ring-3;
        animation-duration: $rotation-base;
    }
    &__inner-ring {
        top: calc(50% - #{$size-inner-ring} * 0.5);
        left: calc(#{$size-inner-ring} * -0.25);
        height: $size-inner-ring;
        width: $size-inner-ring;
        animation-duration: calc(#{$rotation-base * 0.5});
    }
    &__sun {
        @include absolute;
        top: calc(50% - #{$size-sun-base} * 0.5);
        left: calc(#{$size-sun-base} * -0.25);
        width: $size-sun-base;
        height: $size-sun-base;
        background-color: $secondary-color;
        animation-duration: 100s;
        border-radius: $border-circle;
    }
}
