<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3f5f2bebde.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="js/main.js"></script>
    <title>Daria Anikanova Portfolio</title>
  <title>{{first-name}} {{last-name}} Portfolio</title>
</head>
<body>
    <header class="header">
        <nav class="header_nav">
            <a href="." class="header_nav_logo logo"><div class="header_nav_logo_icon"></div></a>
            <ul class="header_nav_list link-list">
                <li class="header_nav_list_item link-list_item"><button class="nav-button">Home</button></li>
                <li class="header_nav_list_item link-list_item"><button class="nav-button">About</button></li>
                <li class="header_nav_list_item link-list_item"><button class="nav-button">Projects</button></li>
                <li class="header_nav_list_item link-list_item"><button class="nav-button">Blog</button></li>
            </ul>
        </nav>
    </header>
    <main class="content">
        <section class="content_hero">
            <h1 class="content_hero_full-name">
                <div class="content_hero_first-name">{{first-name}}</div>
                <div class="content_hero_last-name">{{last-name}}</div>
                <div class="content_hero_deco-last-name" aria-hidden="true">
                    {{#last-name}}
                    <div>{{.}}</div>
                    {{/last-name}}
                </div>
            </h1>
            <h2 class="content_hero_subtitle">{{subtitle}}</h2>
            <p class="content_hero_about">{{about}}</p>
        </section>
        <section class="content_projects">
           
          
          
        </section>
        <section class="content_about"></section>
    </main>
</body>
</html>