/* Variables, mixins, and utility classes. */

/* Variables*/

$base-font-size: 18px;
$border-circle: 50%;
$border-rounded: 10px;
$spacer: 1rem;

/*Min-widths*/
$breakpoints: (
  small: 600px,
  medium: 960px,
  large: 1264px,
  x-large: 1904px,
);

/* Media Query Mixins */

@mixin mq($mq-breakpoint, $mq-breakpoints: $breakpoints) {
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }
  @media (min-width: #{$mq-breakpoint}) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}

/* Mixins and Placeholders*/

%absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Hides Visually but not from Screen Readers

%visually-hidden {
  border: 0;
  clip-path: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
