body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, $base-color 20%, $accent-color-2 70%);
  border-color: $accent-color;
  border-style: solid;
  border-width: $deco-border-size;
  overflow: hidden;
  @include mq(small) {
    border-width: $deco-border-size * 1.5;
  }
  @include mq(medium) {
    border-width: $deco-border-size * 1.875;
  }
  @include mq(large) {
    border-width: $deco-border-size * 2.25;
  }
  @include mq(x-large) {
    border-width: $deco-border-size * 2.5;
  }
}

.header {
  background-color: $base-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_nav {
    min-width: 100%;

    @include mq(medium) {
      visibility: visible;
      display: flex;
      justify-content: space-between;
    }
    &_btn {
      height: 100%;
      color: $accent-color;
      text-transform: uppercase;
      width: 100%;
    }
    &_menu-btn {
      position: absolute;
      right: $deco-border-size;
      top: $deco-border-size;
      color: $accent-color;
      padding: $spacer;
      text-align: right;

      @include mq(small) {
        right: $deco-border-size * 1.5;
        top: $deco-border-size * 1.5;
      }
      @include mq(medium) {
        display: none;
      }
      &:hover {
        color: $cta-color;
        background: rgba($cta-color, 0.3);
        cursor: pointer;
      }
    }

    &_list {
      visibility: hidden;

      @include mq(medium) {
        display: flex;
        visibility: visible !important;
      }
    }
  }
  &_logo {
    @include mq(medium) {
      margin: $spacer;
    }
  }
}

// .content {
//   display: flex;
//   flex-grow: 1;
// }

section {
  min-width: 100%;
  gap: $deco-border-size;
}
.hero {
  user-select: none;

  &_full-name {
    font-weight: 600;
    user-select: none;
  }

  &_first-name {
    display: inline-block;
    margin-left: $spacer;
    color: #fff;
    font-family: "Dancing Script", cursive;
    letter-spacing: normal;
    font-size: 5vw;
    transform: rotate(-15deg);
    text-shadow: 0 0 7px $accent-color, 0 0 10px $accent-color,
      0 0 12px $accent-color, 0 0 16px $accent-color, 0 0 20px $accent-color;
  }
  &_last-name {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 5vw;
    line-height: 2;
    transform: scale(1.6, 2);
    letter-spacing: 0.1em;
    color: white;
    text-shadow: 0 0 7px $cta-color, 0 0 10px $cta-color, 0 0 12px $cta-color,
      0 0 16px $cta-color, 0 0 20px $cta-color;

    @include mq(medium) {
      transform: scale(1.7, 2);
    }
    @include mq(large) {
      padding: $deco-border-size * 2.25;
    }
    @include mq(x-large) {
      padding: $deco-border-size * 2.5;
    }
  }

  &_subtitle {
    color: $accent-color-2;
    font-weight: 600;
    font-size: 5vw;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 7px $accent-color-2, 0 0 10px $accent-color-2,
      0 0 12px $accent-color-2, 0 0 16px $accent-color-2,
      0 0 20px $accent-color-2;
  }
  &_bg {
    height: 60%;
    background: url("../images/triangle.svg") center / contain no-repeat;
  }
  &_bg2 {
    position: relative;
    height: 40%;
    background: url("../images/grid.svg") center / farthest-corner no-repeat,
      linear-gradient(180deg, rgba($cta-color, 0.5), rgba(0, 0, 0, 0) 40%),
      radial-gradient(
        ellipse at top,
        $accent-color-3,
        rgba($accent-color-2, 0.5),
        rgba(0, 0, 0, 0)
      ),
      $base-color;

    &::before {
      content: "";
      position: absolute;
      top: -5vh;
      left: 0;
      right: 0;
      height: 10vh;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0),
        rgba($cta-color, 0.7) 40%,
        #fff 50%,
        rgba($cta-color, 0.7) 60%,
        rgba(0, 0, 0, 0)
      );
    }
  }
}
.footer {
  display: flex;
  background-color: $base-color;
  flex-direction: column;
  justify-content: center;

  @include mq(medium) {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }

  &_logo {
    display: none;
    @include mq(medium) {
      display: unset;
      margin: $spacer;
      align-self: center;
    }
  }
  & > small {
    color: $accent-color;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: $spacer * 0.25;
    @include mq(medium) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &_contact-list {
    display: flex;
    justify-content: center;
    gap: $spacer;
    padding: $spacer 0;
    @include mq(medium) {
      margin-right: $spacer;
    }
    &_item {
      &_link {
        color: $accent-color;
        font-size: 2.5rem;
        @include mq(medium) {
          font-size: 2rem;
        }
        &:hover {
          color: $cta-color;
        }
      }
    }
  }
}
