/* Reusable components such as buttons, navbars, cards, etc */

.btn {
  @extend %focus;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 900;
  padding: $spacer $spacer * 2;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    color: $cta-color;
    background: rgba($cta-color, 0.3);
  }
}

.logo {
  @extend %focus;
  width: 25px;
  height: 25px;
  background-color: $accent-color;
  transition: transform 200ms;
  &:hover {
    background-color: $cta-color;
    transform: scale(1.2) rotate(90deg);
  }
}

.link-list {
  list-style: none;
  &_item {
    @extend %focus;
    display: flex;
    align-items: center;
    justify-items: center;
    text-decoration: none;
  }
}

.project-card {
  width: 50px;
  height: 50px;
  background-color: $accent-color;
}

.article-card {
  width: 50px;
  height: 50px;
  background-color: $accent-color-2;
}
