/* Handles layout such as container and any grid systems*/

body {
    height: 100vh;
    background: $base-color center/cover no-repeat;
    overflow: hidden;
    font-family: sans-serif;
}

.overlay {
    @extend %absolute;
    background: url("/assets/images/darianova.svg") center;
    border: 10px $accent-color solid;
}

.header {
    &_hero {
        &_first-name,
        &_last-name {
            color: $accent-color;
            text-transform: uppercase;
        }
    }
}
