/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/*Global Reset Styles*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* Print Reset & Styles */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  body > *:not(main) {
    display: none;
  }
  a[href^="http"]:not([href*="darianova.dev"]):after {
    content: "{" attr(href) ")";
  }
}

/* Accessability Styles */
p {
  line-height: 1.5;
  max-width: 65ch;
}

/* Variables, mixins, and utility classes. */
/* Variables*/
/*Min-widths*/
/* Media Query Mixins */
/* Mixins and Placeholders*/
body::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn:focus, .logo:focus, .link-list_item:focus {
  outline: 2px solid #78e0dc;
}

:root {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 1264px) {
  :root {
    font-size: 1.111rem;
  }
}

@media (min-width: 1904px) {
  :root {
    font-size: 1.333rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

h1 {
  font-size: 2.4rem;
  font-weight: 900;
}

@media (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  h2 {
    font-size: 1.74rem;
  }
}

@media (min-width: 960px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.6rem;
}

@media (min-width: 600px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1rem;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #242d48), color-stop(60vh, #ef7165), color-stop(70%, #242d48)) center no-repeat;
  background: linear-gradient(180deg, #242d48 30%, #ef7165 60vh, #242d48 70%) center no-repeat;
  overflow: hidden;
}

@media (min-width: 600px) {
  body {
    padding: 12px;
  }
}

@media (min-width: 960px) {
  body {
    padding: 15px;
  }
}

@media (min-width: 1264px) {
  body {
    padding: 18px;
  }
}

@media (min-width: 1904px) {
  body {
    padding: 20px;
  }
}

body::after {
  content: "";
  border-color: #d57e8e;
  border-style: solid;
  border-width: 8px;
  z-index: -97;
}

@media (min-width: 600px) {
  body::after {
    border-width: 12px;
  }
}

@media (min-width: 960px) {
  body::after {
    border-width: 15px;
  }
}

@media (min-width: 1264px) {
  body::after {
    border-width: 18px;
  }
}

@media (min-width: 1904px) {
  body::after {
    border-width: 20px;
  }
}

.header {
  border: 1px #ef7165 solid !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 960px) {
  .header_nav {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header_nav_btn {
  height: 100%;
  color: #d57e8e;
  text-transform: uppercase;
  width: 100%;
}

.header_nav_menu-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #d57e8e;
  padding: 1rem;
  text-align: right;
  font-size: 18px;
}

@media (min-width: 960px) {
  .header_nav_menu-btn {
    display: none;
  }
}

.header_nav_menu-btn:hover {
  color: #78e0dc;
  background: rgba(120, 224, 220, 0.3);
  cursor: pointer;
}

@media (min-width: 960px) {
  .header_nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header_logo {
  display: none;
}

@media (min-width: 960px) {
  .header_logo {
    display: unset;
    margin: 1rem;
  }
}

.content {
  z-index: -98;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hero {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  height: 100%;
}

.hero_full-name {
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hero_first-name {
  display: inline-block;
  margin-left: 1rem;
  color: #fff;
  font-family: "Dancing Script", cursive;
  letter-spacing: normal;
  font-size: 8vw;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  text-shadow: 0 0 7px #d57e8e, 0 0 10px #d57e8e, 0 0 12px #d57e8e, 0 0 16px #d57e8e, 0 0 20px #d57e8e;
}

.hero_last-name {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 7.5vw;
  line-height: 2;
  -webkit-transform: scale(1.6, 2);
          transform: scale(1.6, 2);
  letter-spacing: 0.1em;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #fff), color-stop(40%, #d57e8e), color-stop(45%, #242d48), color-stop(46%, #fff), color-stop(60%, #28b0ab));
  background: linear-gradient(0deg, #fff 30%, #d57e8e 40%, #242d48 45%, #fff 46%, #28b0ab 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (min-width: 600px) {
  .hero_last-name {
    font-size: 7.5vw;
  }
}

@media (min-width: 960px) {
  .hero_last-name {
    -webkit-transform: scale(1.7, 2);
            transform: scale(1.7, 2);
  }
}

@media (min-width: 1264px) {
  .hero_last-name {
    padding: 18px;
  }
}

@media (min-width: 1904px) {
  .hero_last-name {
    padding: 20px;
  }
}

.hero_subtitle {
  color: #ef7165;
  font-weight: 600;
  text-align: right;
  margin-right: 1rem;
  letter-spacing: 0.25em;
}

.deco-bg {
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 100%;
  z-index: -100;
  background: url("/assets/images/grid.svg") center/cover no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(120, 224, 220, 0.75)), color-stop(50%, rgba(0, 0, 0, 0)));
  background: url("/assets/images/grid.svg") center/cover no-repeat, linear-gradient(180deg, rgba(120, 224, 220, 0.75), rgba(0, 0, 0, 0) 50%);
}

.deco-bg::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 5px #fff, 0 0 25px 15px #78e0dc;
          box-shadow: 0 0 5px 5px #fff, 0 0 25px 15px #78e0dc;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 960px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer > small {
  color: #d57e8e;
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 0.25rem;
}

@media (min-width: 960px) {
  .footer > small {
    color: #242d48;
    position: absolute;
    bottom: -14px;
    width: 100%;
    margin-bottom: 0;
  }
}

.footer_logo {
  display: none;
}

@media (min-width: 960px) {
  .footer_logo {
    display: unset;
    margin: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer_contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

.footer_contact-list_item {
  margin-left: 1rem;
}

.footer_contact-list_item:first-child {
  margin-left: 0;
}

.footer_contact-list_item_link {
  color: #d57e8e;
  font-size: 2.5rem;
}

@media (min-width: 960px) {
  .footer_contact-list_item_link {
    font-size: 2rem;
  }
}

.footer_contact-list_item_link:hover {
  color: #78e0dc;
}

/* Reusable components such as buttons, navbars, cards, etc */
.btn {
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 900;
  padding: 1rem 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: #78e0dc;
  background: rgba(120, 224, 220, 0.3);
}

.logo {
  width: 25px;
  height: 25px;
  background-color: #d57e8e;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.logo:hover {
  background-color: #78e0dc;
  -webkit-transform: scale(1.2) rotate(90deg);
          transform: scale(1.2) rotate(90deg);
}

.link-list {
  list-style: none;
}

.link-list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-decoration: none;
}

.project-card {
  width: 50px;
  height: 50px;
  background-color: #d57e8e;
}

.article-card {
  width: 50px;
  height: 50px;
  background-color: #ef7165;
}
/*# sourceMappingURL=main.css.map */