/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/*Global Reset Styles*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* Print Reset & Styles */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  body > *:not(main) {
    display: none;
  }
  a[href^="http"]:not([href*="darianova.dev"]):after {
    content: "{" attr(href) ")";
  }
}

/* Accessability Styles */
p {
  line-height: 1.5;
  max-width: 65ch;
}

/* Resets, variables, mixins, and utility classes. */
/* Variables*/
/* Mixins and Placeholders*/
.overlay, .solar-system {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.solar-system__outer-ring, .solar-system__middle-ring-1, .solar-system__middle-ring-2, .solar-system__middle-ring-3, .solar-system__inner-ring {
  fill: none;
  stroke: #dd410a;
  stroke-width: 0.5px;
  stroke-dasharray: 1;
  -webkit-animation: dash 5s linear;
          animation: dash 5s linear;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

/* Media Queries */
:root {
  font-size: 16px;
}

@media (min-width: 600px) and (max-width: 959px) {
  :root {
    font-size: 18px;
  }
}

@media (min-width: 960px) and (max-width: 1263px) {
  :root {
    font-size: 20px;
  }
}

@media (min-width: 1264px) and (max-width: 1903px) {
  :root {
    font-size: 20px;
  }
}

@media (min-width: 1904px) {
  :root {
    font-size: 24px;
  }
}

/* Handles layout such as container and any grid systems*/
body {
  height: 100vh;
  background: black url("../assets/images/bg.jpg") center/cover no-repeat;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;
}

.header,
.footer {
  background-color: white;
}

/* SVG Styles*/
.overlay {
  z-index: 1;
  margin: 3rem 6rem;
  background: url("../assets/images/darianova.svg") round;
}

@media (max-width: 599px) {
  .overlay {
    margin: 0;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .overlay {
    margin: 1rem 4rem;
  }
}

.solar-system {
  z-index: 2;
  height: 100%;
  width: 100%;
}

.solar-system__sun {
  fill: orange;
}

.solar-system__outer-ring {
  top: calc(50% - calc(30vw* 3) * 0.5);
  left: calc(calc(30vw* 3) * -0.25);
  height: calc(30vw* 3);
  width: calc(30vw* 3);
  -webkit-animation-duration: calc(550s);
          animation-duration: calc(550s);
}

.solar-system__middle-ring-1 {
  top: calc(50% - calc(30vw* 2.7) * 0.5);
  left: calc(calc(30vw* 2.7) * -0.25);
  height: calc(30vw* 2.7);
  width: calc(30vw* 2.7);
  -webkit-animation-duration: calc(300s);
          animation-duration: calc(300s);
}

.solar-system__middle-ring-2 {
  top: calc(50% - calc(30vw* 2.4) * 0.5);
  left: calc(calc(30vw* 2.4) * -0.25);
  height: calc(30vw* 2.4);
  width: calc(30vw* 2.4);
  -webkit-animation-duration: calc(150s);
          animation-duration: calc(150s);
}

.solar-system__middle-ring-3 {
  top: calc(50% - calc(30vw* 2.1) * 0.5);
  left: calc(calc(30vw* 2.1) * -0.25);
  height: calc(30vw* 2.1);
  width: calc(30vw* 2.1);
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
}

.solar-system__inner-ring {
  top: calc(50% - calc(30vw* 1.8) * 0.5);
  left: calc(calc(30vw* 1.8) * -0.25);
  height: calc(30vw* 1.8);
  width: calc(30vw* 1.8);
  -webkit-animation-duration: calc(50s);
          animation-duration: calc(50s);
}

/* Reusable components such as buttons, navbars, cards, etc */
.button {
  color: black;
}
/*# sourceMappingURL=main.css.map */